.Wrapper {
  width: 100%;
}

.TopSec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  height: 6rem;
}

.Title {
  font-size: var(--font-20);
  color: var(--primary-black);
  font-weight: 400;
}

.BottomSec {
  width: 100%;
  padding: 2rem 2.5rem;
}

.Booking {
  width: 100%;
  display: flex;
  grid-gap: 2rem;
  border-bottom: 1px solid var(--border-grey);
  padding: 2rem 0;
}

.BookingLeftSec {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

.BookingImg {
  width: 26rem;
  height: 19.5rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.BookingRightSec {
  font-size: var(--font-16);
}

.StorageName {
  font-weight: 500;
  color: var(--sec-black);
  margin-top: 0.5rem;
  font-size: var(--font-18);
}

.BookingAmount {
  font-weight: 500;
  color: var(--sec-black);
  margin-top: 0.2rem;
  font-size: var(--font-20);
}

.Key {
  font-weight: 400;
  color: var(--ter-black);
  font-size: var(--font-16);
}

.Value {
  font-weight: 400;
  color: var(--sec-black);
  font-size: var(--font-16);
}

.KeyValuePair {
  display: flex;
  align-items: center;
  grid-gap: 0.3em;
}

.BookingDates {
  display: flex;
  align-items: center;
  grid-gap: 1.3em;
}

.BookingAddress {
  margin-top: 0.4rem;
  max-width: 75%;
}
